#cart .page-content {
  padding: 50px;
}
#cart .page-content > .grid {
  grid-template-columns: 2fr 1fr;
  margin-top: 10px;
  margin-bottom: 100px;
}
#cart .page-content .information {
  padding-right: 50px;
}
#cart .page-content .information hr {
  margin-top: 30px;
}
#cart .page-content .information > div {
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 10px;
}
#cart .page-content .information fieldset {
  grid-template-columns: 1fr 1fr;
}
#cart .page-content .information > section {
  border: 1px solid #ADB5BD;
  border-radius: 5px;
}
#cart .page-content .information > section > div {
  padding: 10px;
}
#cart .page-content .information > section > div:first-of-type {
  border-bottom: 1px solid #ADB5BD;
}
#cart .page-content .information > section > div p:first-of-type {
  color: #6C757D;
}
#cart .page-content .information > section > form {
  padding: 10px;
  background-color: #E7E7E7;
  border-bottom: 1px solid #ADB5BD;
}
#cart .page-content .information > section > form input {
  background-color: #FFFFFF;
}
#cart .page-content .items #cart-item {
  grid-template-columns: 60px 1fr 1fr;
}
#cart .page-content .items #cart-item .image-wrapper {
  width: 60px;
  height: 100px;
  background-color: transparent;
  border-radius: 5px;
  overflow: hidden;
}
#cart .page-content .items #cart-item .item-counter {
  gap: 15px;
  bottom: -20px;
}
#cart .page-content .items #cart-item .item-remover {
  gap: 15px;
  bottom: -50px;
  right: -180px;
}
#cart .page-content .items #ctas {
  display: none;
}
@media only screen and (min-width: 300px) and (max-width: 900px) {
  #cart .page-content {
    padding: 30px 20px;
  }
  #cart .page-content > .grid {
    grid-template-columns: 1fr;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  #cart .page-content .information {
    padding-right: 0px;
  }
  #cart .page-content .information #ctas {
    display: none;
  }
  #cart .page-content .items #cart-item .item-remover {
    right: -100px;
  }
  #cart .page-content .items #ctas {
    margin-top: 20px;
    display: flex;
  }
}