#moods .page-content > div {
  grid-template-columns: repeat(12, 1fr);
}
#moods .page-content .item-photo-wrapper {
  grid-column: 1/13;
  grid-row: 1/8;
}
#moods .page-content .item-photo-wrapper > img {
  display: block;
  width: 100%;
}
#moods .page-content .item-details {
  padding: 25px 20px;
  background-color: #FFFFF0;
  grid-column: 2/6;
  grid-row: 4/7;
  border-radius: 5px;
}
#moods .page-content .item-details hr {
  margin: 20px 300px 20px 0px;
}
#moods .page-content .item-details form {
  grid-template-columns: 1fr 1fr;
}
#moods .page-content .all-moods {
  padding: 50px;
}
#moods .page-content .all-moods > div {
  margin-top: 50px;
}
#moods .page-content .all-moods > div .grid {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px 20px;
}
@media only screen and (min-width: 300px) and (max-width: 900px) {
  #moods .page-content > div {
    grid-template-columns: repeat(8, 1fr);
  }
  #moods .page-content .item-photo-wrapper {
    grid-column: 1/9;
    grid-row: 1/5;
  }
  #moods .page-content .item-details {
    grid-column: 1/9;
    grid-row: 5/8;
  }
  #moods .page-content .item-details hr {
    margin: 20px 300px 20px 0px;
  }
  #moods .page-content .item-details p {
    font-size: 12px;
  }
  #moods .page-content .item-details .oder-item > form {
    display: none;
  }
  #moods .page-content .all-moods {
    padding: 50px 20px;
  }
  #moods .page-content .all-moods > div {
    margin-top: 50px;
  }
  #moods .page-content .all-moods > div .grid {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 40px 20px;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 10px;
    overflow: hidden;
    overflow-x: scroll;
  }
  #moods .page-content .all-moods > div .grid > div:last-of-type {
    padding-right: 10px;
  }
}