#product .page-content,
#faqs .page-content {
  padding: 80px 100px;
}
#product .page-content > div,
#faqs .page-content > div {
  margin-bottom: 60px;
}
@media only screen and (min-width: 300px) and (max-width: 900px) {
  #product .page-content,
#faqs .page-content {
    padding: 30px 20px;
  }
  #product .page-content > div,
#faqs .page-content > div {
    margin-bottom: 50px;
  }
}