html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 16px;
  background-color: #FFFFF0;
  color: #343A40;
  font-family: "Roboto", sans-serif;
  min-width: 1000px;
}
body img {
  max-width: 100%;
}
body .bottomsheet {
  display: none;
}
body .backdrop {
  display: block;
  background-color: #000000;
  opacity: 0.8;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 5;
}
body .backdrop.hide {
  display: none;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  body {
    min-width: 100px;
  }
  body .bottomsheet {
    display: block;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  line-height: 1.2em;
  margin: 0px;
  font-family: "Josefin Sans", sans-serif;
}

h1, .h1 {
  font-size: 2.488em;
}

h2, .h2 {
  font-size: 2.074em;
}

h3, .h3 {
  font-size: 1.728em;
}

h4, .h4 {
  font-size: 1.44em;
}

h5, .h5 {
  font-size: 1.2em;
}

p {
  margin: 0px;
  font-size: 1em;
}
p.small {
  font-size: 0.8em;
}
p.bold {
  font-weight: bold;
}

a {
  background-color: transparent;
  text-decoration: none;
}
a.dark {
  color: #212529;
}
a.dark:hover {
  color: #343A40;
}
a.light {
  color: #ADB5BD;
}
a.light:hover {
  color: #CED4DA;
}
a.white {
  color: #FFFFF0;
}
a.white:hover {
  color: #FFFFF0;
}
a.underline {
  text-decoration: underline;
}
a.padding {
  padding: 7px 14px 8px 14px;
}

button, .button {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  padding: 7px 14px 8px 14px;
  border-radius: 5px;
  background-color: #212529;
  border: 1px solid #212529;
  color: #FFFFF0;
}
button:hover, .button:hover {
  background-color: #343a40;
  border: 1px solid #343a40;
}
button.expand, .button.expand {
  width: 100%;
}
button.light, .button.light {
  background-color: #6c757d;
  border: 1px solid #6c757d;
  color: #FFFFF0;
}

.breadcrumb {
  font-size: 12px;
}
.breadcrumb a {
  color: #212529;
  padding-right: 10px;
}
.breadcrumb a.active {
  color: #495057;
}

.uppercase {
  text-transform: uppercase;
}

.material-icons {
  font-size: 1em;
  color: #212529;
}
.material-icons.small {
  font-size: 1.1em;
  vertical-align: middle;
}
.material-icons.light {
  color: #CED4DA;
}

.flex {
  display: flex;
}
.flex.space-between {
  justify-content: space-between;
}
.flex.item-center {
  align-items: center;
}

.grid {
  display: grid;
}
.grid.gap {
  grid-gap: 10px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-left-5 {
  padding-left: 5px;
}

.padding-right-5 {
  padding-right: 5px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-right-20 {
  padding-right: 20px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-right-20 {
  margin-right: 20px;
}

hr {
  border-width: 1px 0px 0px 0px;
  border-style: dashed;
  border-color: #495057;
}

form fieldset {
  border: none;
  margin: 0px 0px 10px 0px;
  padding: 0px;
}
form fieldset label {
  font-size: 0.8em;
  line-height: 2em;
}
form fieldset select, form fieldset input {
  width: 100%;
  padding: 10px 12px;
  background-color: transparent;
  font-size: 1em;
  border-color: #495057;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
form fieldset select {
  background-image: url("app/images/dropdown-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#site-header {
  width: 100%;
  position: sticky;
  top: 0;
}
#site-header .menu-icon {
  display: none;
}
#site-header .main-nav {
  border-bottom: 1px dashed #495057;
  background-color: #FFFFF0;
  padding: 30px 50px;
  z-index: 3;
}
#site-header .main-nav img {
  width: 105px;
}
#site-header .nav-link {
  width: 50%;
  right: 100px;
  top: 35px;
  text-align: right;
}
#site-header .nav-link a {
  padding: 0px 20px;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  #site-header {
    z-index: 3;
  }
  #site-header .main-nav {
    padding: 25px 20px;
    position: relative;
  }
  #site-header .menu-icon {
    display: inline-block;
  }
  #site-header .nav-link {
    width: 100%;
    right: 0px;
    left: 0px;
    top: -150px;
    transition: all 0.5s;
    background-color: #FFFFF0;
    text-align: center;
    padding: 10px 0px 10px 0px;
    z-index: 2;
    border-bottom: 1px dashed #495057;
  }
  #site-header .nav-link a {
    display: block;
    padding: 10px 0px;
  }
  #site-header .nav-link.drop {
    top: 79px;
  }
}

#site-footer {
  border-top: 1px dashed #495057;
  padding: 30px 50px;
}
#site-footer .links a {
  padding: 0px 10px;
}
#site-footer .links img {
  width: 80px;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  #site-footer {
    padding: 25px 20px;
  }
  #site-footer .links a {
    padding: 0px 5px;
  }
}

.bottomsheet {
  background-color: #212529;
  color: #CED4DA;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  bottom: -800px;
  transition: all 0.6s;
  z-index: 6;
}
.bottomsheet.open {
  bottom: 0px;
}
.bottomsheet > div {
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 10px;
}
.bottomsheet > div .chip {
  padding: 5px 10px 6px 10px;
  border-radius: 5px;
  display: inline-block;
}
.bottomsheet > div .chip a:last-of-type {
  display: none;
}
.bottomsheet > div .chip.active {
  background-color: #343a40;
}
.bottomsheet > div .chip.active a:last-of-type {
  display: inline-block;
}
.bottomsheet > form select {
  color: #FFFFF0;
}

.modal {
  background-color: #212529;
  color: #CED4DA;
  padding: 20px;
  border-radius: 10px;
  width: 60%;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  z-index: 6;
  display: none;
}
.modal.open {
  display: block;
}
.modal .close {
  top: 15px;
  right: 5px;
}
.modal .modal-image-wrapper {
  margin: -20px;
  height: 600px;
}
.modal .content {
  background-color: #FFFFF0;
  color: #212529;
  border-radius: 5px;
  width: 50%;
  padding: 20px;
  bottom: 20px;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .modal {
    width: 90%;
  }
  .modal .close {
    top: 20px;
  }
  .modal .modal-image-wrapper {
    margin: -20px;
    height: 450px;
  }
  .modal .content {
    margin: -20px;
    width: 120%;
    padding: 20px;
    border-radius: 0px;
  }
}

.paint-card .image-wrapper, .mood-card .image-wrapper {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}
.paint-card .image-wrapper img, .mood-card .image-wrapper img {
  display: block;
}
.paint-card p:last-of-type, .mood-card p:last-of-type {
  padding-top: 5px;
}

.paint-card .image-wrapper {
  height: 100px;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .paint-card .image-wrapper {
    height: 70px;
  }
}

.mood-card .image-wrapper {
  height: 200px;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .mood-card .image-wrapper {
    height: 150px;
  }
}