h1, h2, h3, h4, h5 {
    font-weight: 700;
    line-height: 1.2em;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
}

h1,.h1 { font-size: 2.488em; }
h2,.h2 { font-size: 2.074em; }
h3,.h3 { font-size: 1.728em; }
h4,.h4 { font-size: 1.44em; }
h5,.h5 { font-size: 1.2em; }

p {
    margin: 0px;
    font-size: 1em;

    &.small { font-size: 0.8em; }
    &.bold { font-weight: bold; }

    &.text-right { text-align: right; }
    &.text-center { text-align: center; }
}

a {
    background-color: transparent;
    text-decoration: none;

    &.dark {
    	color: #212529;

    	&:hover {
    		color: #343A40;
    	}
    }

    &.light {
        color: #ADB5BD;

        &:hover {
            color: #CED4DA;
        }
    }

    &.white {
        color: #FFFFF0;

        &:hover {
            color: #FFFFF0;
        }
    }

    &.underline { text-decoration: underline; }

    &.padding { padding: 7px 14px 8px 14px; }
}

button, .button {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 7px 14px 8px 14px;
    border-radius: 5px;
    background-color: #212529;
    border: 1px solid #212529;
    color: #FFFFF0;

    &:hover {
        background-color: #343a40;
        border: 1px solid #343a40;
    }

    &.expand { width: 100%; }

    &.light {
        background-color: #6c757d;
        border: 1px solid #6c757d;
        color: #FFFFF0;
    }
}

.breadcrumb {
    font-size: 12px;

    a {
        color: #212529;
        padding-right: 10px;

        &.active {
            color: #495057;
        }
    }
}

.uppercase { text-transform: uppercase; }

.material-icons {
	font-size: 1em;
	color: #212529;

    &.small {
        font-size: 1.1em;
        vertical-align: middle;
    }

    &.light { color: #CED4DA; }
}