// cart page

#cart {
	.page-content {
		padding: 50px;

		> .grid {
			grid-template-columns: 2fr 1fr;
			margin-top: 10px;
			margin-bottom: 100px;
		}

		.information {
			padding-right: 50px;

			hr { margin-top: 30px; }

			> div {
				grid-template-columns: 1fr 1fr;
				grid-gap: 20px 10px;
			}

		    fieldset { grid-template-columns: 1fr 1fr; }

		    > section {
		    	border: 1px solid #ADB5BD;
		    	border-radius: 5px;

		    	> div {
			    	padding: 10px;

		    		&:first-of-type { border-bottom: 1px solid #ADB5BD; }

		    		p:first-of-type { color: #6C757D; }
		    	}

		    	> form {
		    		padding: 10px;
		    		background-color: #E7E7E7;
		    		border-bottom: 1px solid #ADB5BD;

		    		input { background-color: #FFFFFF; }
		    	}
		    }
		}

		.items {
			#cart-item {
				grid-template-columns: 60px 1fr 1fr;

				.image-wrapper {
					width: 60px;
					height: 100px;
					background-color: transparent;
					border-radius: 5px;
					overflow: hidden;
				}

				.item-counter {
					gap: 15px;
					bottom: -20px;
				}

				.item-remover {
					gap: 15px;
					bottom: -50px;
					right: -180px;
				}
			}

			#ctas { display: none; }
		}
	}

	// mobile
	@media only screen and (min-width: 300px ) and (max-width: 900px ) {
		.page-content {
			padding: 30px 20px;

			> .grid {
				grid-template-columns: 1fr;
				margin-top: 10px;
				margin-bottom: 0px;
			}

			.information {
				padding-right: 0px;
				#ctas { display: none; }
			}

			.items {
				#cart-item {
					.item-remover { right: -100px; }
				}

				#ctas {
					margin-top: 20px;
					display: flex;
				}
			}
		}
	}
}