// results page

#results {
	.page-content {
		padding: 50px;

		> div {
			grid-template-columns: 300px 3fr;
			margin-top: 50px;
		}

		.filter {
			hr { margin-top: 30px; }

			> div {
				grid-template-columns: 1fr 1fr;
				grid-gap: 20px 10px;

			    .chip {
			        padding: 5px 10px 6px 10px;
			        border-radius: 5px;
			        display: inline-block;

			        a:last-of-type { display: none; }

			        &.active {
			        	background-color: #f1f1f1;

			        	a:last-of-type { display: inline-block; }
			        }
			    }
			}
		}

		.items {
			.item-wrapper {
				grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
				grid-gap: 40px 20px;
				margin-top: 30px;
			}

			> p:last-of-type {
				color: #ADB5BD;
				margin-top: 50px;
				margin-bottom: 30px;
				text-align: center;
			}

			> div a { display: none; }
		}
	}

	// mobile
	@media only screen and (min-width: 300px ) and (max-width: 700px ) {
		.page-content {
			padding: 30px 20px;

			> div {
				grid-template-columns: 1fr;
				margin-top: 10px;
			}

			.filter { display: none; }

			.items {
				.item-wrapper {
					grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
					grid-gap: 30px 10px;
					margin-top: 10px;
				}

				> div {
					position: sticky;
					top: 79px;
					background-color: #FFFFF0;
					padding: 10px 20px;
					margin: 0px -20px;
					z-index: 1;

					a { display: inline-block; }
				}
			}
		}
	}
}