// bottomsheet

.bottomsheet {
	background-color: #212529;
	color: #CED4DA;
	padding: 20px;
	border-radius: 10px 10px 0px 0px;
	width: 100%;
	bottom: -800px;
	transition: all .6s;
	z-index: 6;

	&.open {
		bottom: 0px;
	}

	> div {
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px 10px;

	    .chip {
	        padding: 5px 10px 6px 10px;
	        border-radius: 5px;
	        display: inline-block;

	        a:last-of-type { display: none; }

	        &.active {
	        	background-color: #343a40;

	        	a:last-of-type { display: inline-block; }
	        }
	    }
	}

	> form {
		select {
			color: #FFFFF0;
		}
	}
}