// sitehead

#site-header {
	width: 100%;
	position: sticky;
	top: 0;

	.menu-icon { display: none; }

	.main-nav {
		border-bottom: 1px dashed #495057;
		background-color: #FFFFF0;
		padding: 30px 50px;
		z-index: 3;

		img { width: 105px; }
	}

	.nav-link {
		width: 50%;
		right: 100px;
		top: 35px;
		text-align: right;

		a { padding: 0px 20px; }
	}


	// mobile
	@media only screen and (min-width: 300px ) and (max-width: 900px ) {
		z-index: 3;

		.main-nav {
			padding: 25px 20px; 
			position: relative;
		}

		.menu-icon { display: inline-block; }

		.nav-link {
			width: 100%;
			right: 0px;
			left: 0px;
			top: -150px;
			transition: all .5s;
			background-color: #FFFFF0;
			text-align: center;
			padding: 10px 0px 10px 0px;
			z-index: 2;
			border-bottom: 1px dashed #495057;

			a {
				display: block;
				padding: 10px 0px;
			}

			&.drop { top: 79px; }
		}
	}
}